.bannerMain{
    background-image: url(../../assets/bg.svg);
    background-size: cover;
    width: 100%;
    background-position: bottom;
    padding: 50px 0 100px 0;
}

.innerImage{
    margin-bottom: 50px;
}