.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.buttonParent{
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttonParent button{
  background: #61dafb;
  color: #000;
  font-weight: 600;
  padding: 10px 35px;
  margin: 5%;
  text-transform: none;
}



.box{
  position: absolute;
  right: 5%;
  top: 7%;
}


.box.nightLight button{
  background: #61dafb;
  color: #000;
  font-weight: 600;
  padding: 10px 35px;
  text-transform: none;
}



.box.dayLight button{
  background: yellow;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 10px 35px;
  text-transform: none;
}

.App-header.dayLight {
  background-color: rgb(255, 213, 0);
}

.App-header.nightLight{
 background-color: #282c34;
}